body {
    background-color: rgba(16,77,141);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: rgb(225, 92, 0);
}

.login {
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
}

.card{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 300px; 
    margin: 0 auto;
    box-shadow: 0 15px 40px rgba(0,0,0,.2);
}

#logo {
    width: 125px;
    height: 125px;
    object-fit: cover;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
}

#recepcion,
#propiedades,
#ensayo,
#consulta {
    background-color: white;
    color: #333;

    width: 200px;
    height: 100px;

    border: 1px solid #dcdcdc;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 500;

    margin: 5px;

    cursor: pointer;

    transition: 0.2s ease;
}

#recepcion:active,
#propiedades:active,
#ensayo:active,
#consulta:active {
    transform: scale(0.95);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}